body {
    margin: 0;
    line-height: inherit
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: .5rem;
    padding-right: .5rem;
    flex: content;
    flex-direction: inherit;
    margin: auto;
}

.norm-border {
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: #3d444d;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    padding: 32px;
    overflow: auto;
    background-color: #262a30;
    padding-top: 1rem;
    padding-bottom: 5rem;
}